<h2>Modification de la page : {{page?.title}}</h2>
<form class="page-form" [formGroup]="pageForm" (ngSubmit)="upsertPage()">
    <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Sous-titre</mat-label>
        <input matInput formControlName="subTitle">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea rows="5" matInput formControlName="description"></textarea>
    </mat-form-field>

    <button class="btn" type="submit" mat-button [disabled]="!isDifferent">Sauvegarder</button>
</form>
