<!-- Toolbar -->
<mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Menu</h1>
    <span class="spacer"></span>
    <button *ngIf="auth.isAuthenticated$ | async; else loggedOut" class="btn btn-danger" (click)="auth.logout({ returnTo: document.location.origin })">
        Log out
    </button>
    <ng-template #loggedOut>
        <button class="btn btn-primary" (click)="auth.loginWithRedirect()">Log in</button>
    </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav-nav">
        <div class="nav-list">
            <button [routerLink]="['/home']" mat-button>Home Page</button>
            <button mat-button>Compétences</button>
            <button [routerLink]="['/experiences']" mat-button>Expériences</button>
            <button mat-button>Parcours</button>
            <button [routerLink]="['/projects']" mat-button>Projets</button>
            <button mat-button>Contact</button>
            <button mat-button>Message</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
